.vs/CMake Overview
.vs/launch.vs.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SynapseGateway.slnx/FileContentIndex/e646ec3f-72c6-4ebe-9d35-3a58d1fc6781.vsidx
.vs/SynapseGateway.slnx/FileContentIndex/f1bb52ad-f3d4-4d48-a183-cd4c358c5b13.vsidx
.vs/SynapseGateway.slnx/v18/.wsuo
.vs/SynapseGateway.slnx/v18/Browse.VC.db
.vs/SynapseGateway.slnx/v18/Browse.VC.db-shm
.vs/SynapseGateway.slnx/v18/Browse.VC.db-wal
.vs/SynapseGateway.slnx/v18/Browse.VC.opendb
.vs/SynapseGateway.slnx/v18/DocumentLayout.json
.vs/SynapseGateway/CopilotIndices/18.5.39194.52559/CodeChunks.db
.vs/SynapseGateway/CopilotIndices/18.5.39194.52559/CodeChunks.db-shm
.vs/SynapseGateway/CopilotIndices/18.5.39194.52559/CodeChunks.db-wal
.vs/SynapseGateway/CopilotIndices/18.5.39194.52559/SemanticSymbols.db
.vs/SynapseGateway/CopilotIndices/18.5.39194.52559/SemanticSymbols.db-shm
.vs/SynapseGateway/CopilotIndices/18.5.39194.52559/SemanticSymbols.db-wal
out/build/x64-debug/.ninja_deps
out/build/x64-debug/.ninja_log
out/build/x64-debug/build.ninja
out/build/x64-debug/cmake_install.cmake
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/SynapseGateway.exe
out/build/x64-debug/SynapseGateway.ilk
out/build/x64-debug/SynapseGateway.pdb
out/build/x64-debug/VSInheritEnvironments.txt
out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-fcc45b290bab3b33a2aa.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-8f37fa66b339eddfd9cf.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-6d86fc33655c996c11d9.json
out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-f6f22219c74102c3da70.json
out/build/x64-debug/.cmake/api/v1/reply/index-2026-09-24T19-50-48-0143.json
out/build/x64-debug/.cmake/api/v1/reply/target-SynapseGateway-Debug-6189d343c2ebba62a586.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-803a910ac131e82c0239.json
out/build/x64-debug/CMakeFiles/cmake.check_cache
out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/x64-debug/CMakeFiles/InstallScripts.json
out/build/x64-debug/CMakeFiles/rules.ninja
out/build/x64-debug/CMakeFiles/TargetDirectories.txt
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/embed.manifest
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/intermediate.manifest
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/manifest.rc
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/manifest.res
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/SynapseGateway.cpp.obj
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/vc140.idb
out/build/x64-debug/CMakeFiles/SynapseGateway.dir/vc140.pdb
out/build/x64-debug/Testing/Temporary/LastTest.log
.vs/SynapseGateway.slnx/FileContentIndex/775de1ee-c1de-4253-8003-97c3ba8c94b6.vsidx
